<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUo6DT4HDEBZezV0Grdka5baXaDs8yBNw</string>
	<key>GCM_SENDER_ID</key>
	<string>766618032909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappProject</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bb7cc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bb7cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766618032909:ios:c06e7df97c5d767895ee44</string>
</dict>
</plist>